.movies{
    margin-bottom:30px ;

}
.movies-h2{
    margin: 0px 0px 0px 50px;
}

.movies-list{
    transition: all ease 0.5s;
}
.movies-listArea{
    overflow-x: hidden;
    padding-left: 30px;
}
.movies-itens{
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
.movies-itens img{
    width: 100%;
    transform: scale(0.8);
    transition: all ease 0.5s;
}
.movies-itens img:hover{
    transform: scale(1);
}

.movies-left,
.movies-rigth{
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0,0,0,0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
}

.movies-left{
    left: 0;
}

.movies-rigth{
    right: 0;

}

.movies:hover .movies-left,
.movies:hover .movies-rigth{
    opacity: 3;

}

